@import "./theme.css";
@import "./navbar.css";
@import "./mainSection.css";
@import "./shadows.css";
@import "./projectsSection.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.about {
  width: 100%;
  min-height: 600px;
  max-height: 800px;
  background: linear-gradient(to top, #121a26, #213046);
}
.about h2 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}
