@import "./theme.css";
@import "./globals.css";

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapperNav {
  position: absolute;
  width: 15rem;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(10px);
  top: 20px;
  max-height: 70px;
}
.wrapperNav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.wrapperNav i {
  color: var(--color-text-grey);
  font-size: 20px;
  cursor: pointer;
}
.wrapperNav .active {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-theme-main);
  color: black;
  border-radius: 50%;
}
/* section main  */
.first-section {
  min-height: 40rem;
  max-height: 50rem;
  padding: 100px;
}
.description {
  max-width: 30rem;
  color: var(--color-white);
  padding: 40px;
  margin: 0 200px;
}
.projects {
  position: relative;
  max-height: 400px;
}
