body {
  --font-size-default: 16px;
  --font-family-default: Helvetica, Arial, sans-serif;

  --color-text-default: #222020;
  --color-text-grey: #7a7a7a;
  --color-white: #ffffff;
  --color-grey: #f4f4f4;
  --color-theme-main: #00b0ff;
  --bg-color: #222a35;
}
